name: Build Docker Image

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch: # Enables running workflow manually    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.11.0'

      - name: Install dependencies
        run: |
          npm install -g pnpm@8.15.8
          pnpm install
          pnpm lint
          pnpm health-check
          pnpm test
          pnpm build